apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: java-quarkus-170607616
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: java-quarkus-170607616
    app.kubernetes.io/part-of: test-app-170607616
  name: java-quarkus-170607616
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: java-quarkus-170607616
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: java-quarkus-170607616
    spec:
      containers:
      - image: quay.io/hacdev/b1dqsuas-tenant/test-app-170607616/java-quarkus-170607616@sha256:caa7e8fa316f59839adb471cda021b64d5a13a8f8373eab8793e3dfca1177f8b
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
